<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="db.properties"/>
    <bean id="dataSource" destroy-method="close"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />

        <property name="minPoolSize" value="1"/>
        <property name="maxPoolSize" value="20"/>
        <property name="maxIdleTime" value="1800"/>
        <property name="acquireIncrement" value="2"/>
        <property name="maxStatements" value="0"/>
        <property name="initialPoolSize" value="2"/>
        <property name="idleConnectionTestPeriod" value="1800"/>
        <property name="acquireRetryAttempts" value="30"/>
        <property name="breakAfterAcquireFailure" value="true"/>
        <property name="testConnectionOnCheckout" value="false"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="/mapper/StudentMapper.xml"/>

    </bean>

    <!-- 映射器接口  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mutesaid.mapper"/>
    </bean>

    <bean id="studentService" class="com.mutesaid.serviceImpl.StudentServiceImpl">
    </bean>

    <bean id="student1" class="com.mutesaid.pojo.Student"
          p:name="苏正荣"
          p:qq="2210126316"
          p:type="Android工程师"
          p:timeOf="2018-09-16"
          p:gradeSchool="淮海工学院东港学院"
          p:onlineId="Android-591"
          p:link="http://www.jnshu.com/school/23273/daily"
          p:wish="如果我不能在IT特训营拼尽全力，为自己以后的修行路上打好基础，就让我变胖2吨！"
          p:fellow="汪开放"
          p:understand="知乎"/>
</beans>